<%- include('includes/head.ejs') %>
<header>
    <h1 class="title">Sneakers</h1>
</header>
<main>
    <% if(mensaje != '') { %>
        <div class="notification is-info">
            <button class="delete"></button>
            <%= mensaje %>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                    });
                });
            });
    </script>
    <% } %>
    <br>
    <br>
    <a href="/modelo" class="button is-warning" id="boton_sneakers">Pedido</a>
    <br>
    <br>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <div class = "columns">
        <% for (orden of ordenes) { %>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img
                            src="<%= orden.imagen %>"
                            alt="<%= orden.descripcion %>"
                        />
                        </figure>
                    </div>
                    <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-48x48">
                            <img
                                src="<%= orden.imagen %>"
                                alt="<%= orden.descripcion %>"
                            />
                        </figure>
                        </div>
                        <div class="media-content">
                        <p class="title is-4"><%= orden.nombre %></p>
                        </div>
                    </div>
                    <div class="content">
                        <p><%= orden.descripcion %></p>
                        <p><%= orden.created_at %></p>
                    </div>
                </div>
            </div>
        </div>
        <% } %> 
    </div>
    <br>
    <br>
    <a href="/agregar" class="button is-link">Nuevo</a>
    <br>
    <br>
    <div class = "columns">
        <% for (sneaker of sneakers) { %>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure classs="image is-4by3">
                        <img
                            src="<%= sneaker.imagen %>"
                            alt="<%= sneaker.descripcion %>"
                        />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                            <figure class="image is-48x48">
                                <img
                                    src="<%= sneaker.imagen %>"
                                    alt="<%= sneaker.descripcion %>"
                                />
                            </figure>
                            </div>
                            <div class="media-content">
                            <p class="title is-4" ><a href="/<%= sneaker.id %>"><%= sneaker.descripcion %></a></p>
                            </div>
                        </div>

                        <div class="content">
                            <%= sneaker.descripcion %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
   
    <button style="display:none" class="button is-success" id="boton_24.5">Talla 24.5</button>
    <button style="display:none" class="button is-warning" id="boton_24">Talla 24</button>
    <button style="display:none" class="button is-danger" id="boton_27">Talla 27</button>
    <br>
    <br>

    <img width="40%" id="imagen_sneaker" src="" alt="" />

<%- include('includes/foot.ejs') %>