<%- include('includes/head.ejs')%>
        <header>
            <h1 class="title">Seleccion Modelo</h1>
        </header>
        <main>
            <br><br>
            <form action="/modelo" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="field">
                <label class="label" for="username">Usuario</label>
                <div class="control">
                    <div class="select">
                        <select id="username" name="username">
                            <% for(user of users) { %> 
                                <option value="<%= user.username %>"><%= user.nombre %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="modelo" class="label">Modelo</label>
                <div class="control">
                    <div class="select">
                        <select id="modelo" name="modelo">
                            <% for(sneaker of sneakers) { %> 
                                <option value="<%= sneakers.id %>"><%= sneaker.descripcion %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control">
                <input type="submit" class="button is-link" value="Modelos">
            </div>
            </form>
        <%- include('includes/foot.ejs')%>